@{
    ViewBag.Title = "About";
}


<div class="row mx-5" style="text-align:center">
    <p></p>
    <p></p>
    <h3><b>Project Members</b></h3>
    <p></p>
    <p></p>
    <div class="col-4">
        <h4><b style="color:brown">ID: 190104019</b><br /></h4>
        <h4><b style="color:darkcyan">Abdur Rahim</b></h4>
    </div>

    <div class="col-4">
        <h4><b style="color:brown">ID: 190104020</b><br /></h4>
        <h4><b style="color:darkcyan">Md. Abdullah Al Sajid Chowdhury</b></h4>
    </div>

    <div class="col-4">
        <h4><b style="color:brown">ID: 190104024</b><br /></h4>
        <h4><b style="color:darkcyan">Abdullah Al Mamun</b></h4>
    </div>
    <p></p>
</div>

<div class="row mx-5 text-center">
    <div class="col-4"></div>
    <div class="col-4">
        <hr />
        <h5>
            <b style="color:darkgray">IDE: Visual Studio 2022</b><br />
            <b style="color:darkgray">Database: MS SQL Server Management Studio 18</b><br />
            <b style="color:darkgray">Language: C#, HTML, JS</b><br />
            <b style="color:darkgray">Framework: ASP.NET, MVC</b><br />
        </h5>
        <hr />
    </div>
    <div class="col-4"></div>
</div>

<div class="row mx-5 text-center">
    <h4>
        <p></p>
        <p></p>
        <p></p>
        <i>
            This software has been developed as a 3rd year 2nd semester project in Fall '21
            <br />under the course
            <b style="color:blueviolet">CSE3200: Software Developbent-V</b>
            <br />assigned by
            <b style="color:blueviolet">Computer Science &amp; Engineering</b>
            department of
            <b style="color:blueviolet">Ahsanullah University of Science &amp; Technology</b>
        </i>
    </h4>
    <p></p>
    <p></p>
    <p></p>
</div>
