@{
    ViewBag.Title = "Index";
}


<div class="row mx-5 text-end">
    <p></p>
    <p></p>
    <p>
        @Html.ActionLink("My Profile", "UserProfile", new { id = (string)Session["userEmail"] }, new { @class = "btn btn-info" })
    </p>
</div>

<div class="row mx-5 text-center">
    <p></p>
    <p></p>
    <p>
        <a class="btn btn-success" href="/Seller/BusList"><img src="~/Images/bus.png" /><b>Bus List</b></a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="/Seller/ScheduleList"><img src="~/Images/schedule.png" /><b>Schedule List</b></a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="/Seller/TicketList"><img src="~/Images/ticket.png" /><b>Confirm Ticket</b></a>
    </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>