@model AlaskaExpress.Models.Schedule

@{
    ViewBag.Title = "Home";
}

<div class="row mx-5">
    <div class="col-md-8">
        <br />
        <img class="mySlides" style="height: 650px;" src="~/Images/aebg1.jpg">
        <img class="mySlides" style="height: 650px;" src="~/Images/aebg2.jpg">
        <img class="mySlides" style="height: 650px;" src="~/Images/aebg3.jpg">
        <img class="mySlides" style="height: 650px;" src="~/Images/aebg4.jpg">
        <img class="mySlides" style="height: 650px;" src="~/Images/aebg5.jpg">
        <img class="mySlides" style="height: 650px;" src="~/Images/aebg6.jpg">

        <button class="btn btn-success m-1" onclick="plusDivs(-1)">&#10094;</button>
        <button class="btn btn-success m-1" onclick="plusDivs(+1)">&#10095;</button>
        <br />
        <br />
    </div>

    <div class="col-md-4">
        <br />
        <h2>Search Bus</h2>
        <form action="/Home/SearchedBus" method="post">

            <div class="col-8 py-3">
                <label for="inputJourneyFrom" class="form-label">Start location</label>

                <select for="startLoc" class="form-label" id="startLoc">
                    <option value="" selected disabled>Select</option>
                    @foreach (var item in ViewBag.startLocation)
                    {
                        <option value="item">@item</option>
                    }
                </select>

                <input type="text" class="form-control" name="inputJourneyFrom" id="inputJourneyFrom">
            </div>

            <div class="col-8 py-3">
                <label for="inputJourneyTo" class="form-label">End location</label>

                <select for="endLoc" class="form-label" id="endLoc">
                    <option value="" selected disabled>Select</option>
                    @foreach (var item in ViewBag.endLocation)
                    {
                        <option value="item">@item</option>
                    }
                </select>

                <input type="text" class="form-control" name="inputJourneyTo" id="inputJourneyTo">
            </div>

            <div class="py-3">
                <label for="inputJourneyDate" class="form-label">Journey Date</label>
                <input type="date" class="form-control" id="inputJourneyDate" name="inputJourneyDate" required minlength="0">
            </div>

            <div class="py-3">
                <button type="submit" class="btn btn-primary" value="Search" name="buttonForBusSearch" id="buttonForBusSearch">Find</button>
            </div>
        </form>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
<script>

    //show dropdown values in text box
    $(function () {
        $("#startLoc").change(function () {
            var startLocValue = $("#startLoc option:selected").text();
            $("#inputJourneyFrom").val(startLocValue);
        })

        $("#endLoc").change(function () {
            var endLocValue = $("#endLoc option:selected").text();
            $("#inputJourneyTo").val(endLocValue);
        })
    })

    //image slides
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }

    //disable old dates
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#inputJourneyDate').attr('min', today);

</script>