@{
    ViewBag.Title = "Index";
}

<div class="row mx-5 text-center">
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4">
        <a class="btn btn-outline-success" href="/Admin/ManagerList"><img src="~/Images/manager.png" /><b>Manager List</b></a>
        <br />
        <br />
        <br />
        <a class="btn btn-outline-success" href="/Admin/BusList"><img src="~/Images/bus.png" /><b>Bus List</b></a>
    </div>

    <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4">
        <a class="btn btn-outline-info" href="/Admin/SellerList"><img src="~/Images/seller.png" /><b>Seller List</b></a>
        <br />
        <br />
        <br />
        <a class="btn btn-outline-info" href="/Admin/ScheduleList"><img src="~/Images/schedule.png" /><b>Schedule List</b></a>
    </div>

    <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4">
        <a class="btn btn-outline-danger" href="/Admin/CustomerList"><img src="~/Images/customer.png" /><b>Customer List</b></a>
        <br />
        <br />
        <br />
        <a class="btn btn-outline-danger" href="/Admin/TicketList"><img src="~/Images/ticket.png" /><b>Ticket List</b></a>
    </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
